$black: #17181d;
$orange: #e09145;
$navy: #292c35;
$white: #ffffff;
$grey: #f6f6f6;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poiret One", cursive;
  box-sizing: border-box;
  background-color: $navy;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
.app {
  display: flex;
  justify-content: center;
}

.content {
  width: 98%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 30px 0;
}

.title {
  width: fit-content;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border-top: 2px solid $orange;
  border-bottom: 2px solid $orange;
}

.table {
  padding: 10px;
  border: 2px solid $orange;
  border-radius: 10px;
}

.table-bg {
  background-color: $grey;
  border-radius: 5px;
}
